body {
  font: 14px Tahoma, sans-serif;
  background-color: #ffffff;
}

blockquote {
  margin: 0;
}

h1 {
  color: #5a5858;
}

li  {
  margin: 0;
  color: #333232;
  font: 16px Century, serif;
}

h2{
  padding: 0px 60px;
  font: 25px ;
}

.around_elm{
	display: flex;
  justify-content: space-around;
}

.around_elm_product{
	display: flex;
	justify-content: space-around;
  margin-left: -5px;
  color: #6fa5f4;
  font: 18px Century, serif;
}

.pr{
  float: left;
  padding: 80px 80px;
}

ul.hr{
  display: flex;
  float: right;
  padding: 80px 80px;
  margin: 0;
}

ul.hr li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 15px; /* Отступ слева */
  color: #949494;
}

.kora{
  float: left;
  padding: 0px 20px;
}

.phone{
  display: flex;
  justify-content: space-around;
  padding: 150px 0px;
}
